# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Virtual Environment
.venv

# VS Code settings
.vscode

# API code
config_api.py

# Emails containing permission to publish on Github
Github_Publication.zip

# Environment
.env

.pytest_cache
obs_email_lsq/__pycache__

# Test files not used
tests/archive/
tests/__pycache__